{block #content}

<h2>Úprava instituce {$institution->name}</h2>

{control institutionEditForm}

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        entity_encoding: "raw"
});
</script>
