
{block content}
<div id="content">
    <div class="starter-template">
        <h1 n:block=title>Param-pam-pam</h1>
        <p class="lead"></p>
    </div>
</div>
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/index.script.js"></script>
{/block}

{block styles}
{include parent}
<script src="{$basePath}/css/index.style.js"></script>
{/block}
