@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    padding-top: 50px;
    font-family: Arial;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
#logo-img {
    margin: -10px 6px 0 0;
    float: left;
    max-height: 40px;
}
/* Footer */
#footer {
    clear: both;
    text-align: center;
    width: 100%;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.fb-like {
    margin-top: 16px;
}
