/* Landing page layout */

.ad-img {
    clear: both;
    float: left;
    height: 200px;
    max-width: 99%;
    min-height: 200px;
    min-width: 99%;
    padding: 1em 0 1em 0;
    width: 99%;
    border: 1px dotted #888;
}

#search-in-map {
    width: 100%;;
}
