
#ifilter ul {
    list-style: none;
    padding-left: 10px;
}

#map-canvas {
    height: 400px;
    padding: 1em 1em 1em 1em;
    position: relative;
    overflow: hidden;
}

div.infowindowContent {
    width: 100%;
}