#map-filter {
    float: left;
    padding: 0em 1em 0em 1em;
    position: relative;
    overflow: hidden;
}
#map-filter .filter-item {
    display: block;
}
#map-canvas {
    float: left;
    width: 75%;
    height: 400px;
    padding: 1em 1em 1em 1em;
    position: relative;
    overflow: hidden;
}
